.contain {
    display: flex;
    position: relative;
    background-color: rgb(145, 121, 105);
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    margin: 50px;
    padding: 30px 0;
}

.input {
    border-radius: 30px;
    outline: none;
    border: none;
    width: 80%;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px 0;
    background-color: rgb(124, 105, 91);
}

.input::placeholder {
    color: rgb(85, 62, 35);
}

.submit {
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0 20px 0;
    background-color: rgb(146, 98, 27);
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submit:hover {
    background-color: rgb(131, 88, 25);
}

.submit:active {
    background-color: rgb(112, 76, 21);
    color: white;
}

.text {
    color: rgb(94, 78, 63);
    user-select: none;
}

.alert {
    font-weight: bold;
    color: rgb(180, 0, 0);
}

.link {
    color: rgb(43, 43, 43);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.link:visited {
    color: rgb(43, 43, 43);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.link:active {
    color: white;
}